RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ api/index.php?request=$1 [QSA,NC,L]
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>